.bull{
    //   color: #e5173f;
      font-size: 20px;
      margin: 3px 19px 0px 4px
  }

  .top{
      margin-left: 30px;
  }

  #right-icon{
      margin: 0px 10px 0px 0px;
      cursor: pointer; 
  }