mat-form-field {
  width: 550px;
}

mat-horizontal-stepper {
  font-family: PMN Caecilia;
}

.mat-raised-button {
  margin-right: 30px;
}

.item-bold {
  font-weight: bold;
  color: #e5173f;
}

.buttons {
  margin-top: 40px;
}

.material-icons {
  float: left;
}

.status {
  height: 30px;
}

.child {
  margin-left: 25px;
}

.toggle-question {
  margin: 20px 0 0 0;
}

.toggle-label {
  font-family: PMN Caecilia, serif;
}
