#clear{
    font-size: 34px;
    font-weight: bolder;
    color: #e5173f;
    padding-right: 12px;
    padding-top: 8px;
}

.p1{
    font-size: 22px;
    padding-left: 20px;
    padding-right: 40px;
    color: #776e64;
}

.p2{
    font-size: 22px;
    padding-left: 20px;
    padding-right: 40px;
    color: #e5173f; 
    margin-top: 0px;
    text-align: center;   
}

.p3{
    margin: 0px;
    color: #e5173f;
    font-size: 10px;
    text-align: center;
}