#clear{
    font-size: 28px;
    font-weight: bolder;
    color: #e5173f;
    padding-bottom: 6px;
    padding-top: 2px;
}

.p1{
    font-size: 20px;
    margin: 10px 0px 0px 0px;
    color: #776e64;
}

.p2{
    font-size: 20px;
    color: #e5173f;
    margin-top: 0px;
    text-align: center;
}

.p3{
    font-size: 20px;
    color: #776e64;
}

#destination{
    font-weight: bolder;
    margin-top: 3px;
    margin-bottom: 4px;
}

.p4{
    font-size: 20px;
    color: #e5173f;
    text-align: center;
}
