<div>
  <h3 style="margin:5px 0px 10px 0px;">Copy Global Menu</h3>
  <form [formGroup]="form" novalidate (ngSubmit)="OnSubmit()">
    <table class="destination-full-width" cellspacing="2">
      <tr>
        <mat-form-field>
          <input matInput required placeholder="New Destination Name" formControlName="name">
          <mat-error *ngIf="form.controls['name'].invalid">
            Please enter a Name
          </mat-error>
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field>
          <input matInput required placeholder="New Destination Tag" (focusout)="findTagExists()" pattern="^[A-Z_0-9]*$" formControlName="tag">
          <mat-error *ngIf="form.controls['tag'].invalid && !form.controls['tag'].value">
            Please enter a Standard Tag
          </mat-error>
          <mat-error *ngIf="form.controls['tag'].errors?.pattern && form.controls['tag'].value">
            Please enter a Valid Standard Tag
          </mat-error>
          <mat-error *ngIf="form.controls['tag'].errors?.tagExists && form.controls['tag'].touched">
            Tag already exists! Create a new one.
          </mat-error>
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field>
          <mat-select placeholder="Destination Type" required formControlName="destinationType">
            <mat-option *ngFor="let destinationType of destinationTypes" [value]="destinationType.tag">
              {{ destinationType.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['destinationType'].invalid">
            Please select a Destination Type
          </mat-error>
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field>
          <mat-select placeholder="Copy Menu From" required formControlName="copyFrom">
            <mat-option *ngFor="let destination of destinations" [value]="destination.tag">
              {{ destination.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['copyFrom'].invalid">
            Please select an existing Destination to create/copy from
          </mat-error>
        </mat-form-field>
      </tr>
    </table>
    <div fxLayoutAlign="center center" style="margin-top:30px">
      <button mat-raised-button type="button" matTooltip="Cancel copying menu" (click)="onNoClick()" style="margin-right:60px" class="button-color">Cancel</button>
      <button mat-raised-button matTooltip="Submit copy menu" type="submit" class="button-color" [disabled]="user.isReadOnly">Save</button>
    </div>
  </form>
</div>
